body {
    margin: 0 auto;
}
.container {
    position: relative;
    width: 58px;
    margin: 0 auto;
}
.header__container {
    position: relative;
}
.header__developer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    position: absolute;
    width: 119px;
    height: 32px;
    left: 10px;
    top: 38px;
    border: 2px solid #000000;
    border-radius: 8px;
    }
.header__developer_er {
    width: 90px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 446px;
    height: 32px;
    color: #000000;
    margin: 0 auto;
}
.header__nav {
    width: 58px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    flex-grow: 2;
}
.header__title {
    position: absolute;
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color:#000000;
    margin: 0 auto;
}
.header__text {
    position: absolute;
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.header__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 452px;
    height: 56px;
    left: 494px;
    top: 480px;
    margin: 0 auto;
}
.header__button_telegram {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    width: 215px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
}
.header__button_video {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;
    width: 221px;
    height: 56px;
    border: 2px solid #181818;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
}
.header__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    position: absolute;
    width: 473px;
    height: 32px;
    left: 483px;
    top: 656px;
    margin: 0 auto;
}
.header__buttons_down {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;
    width: 62px;
    height: 32px;
    background: #181818;
    border-radius: 10000px;
    flex: none;
    flex-grow: 0;
}
.header__buttons_down_one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;
    width: 100px;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 10000px;
    flex: none;
    flex-grow: 0;
}
.header__buttons_down_two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;
    width: 125px;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 10000px;
    flex: none;
    flex-grow: 0;
}
.header__buttons_down_three {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;
    width: 80px;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 10000px;
    flex: none;
    flex-grow: 0;
}
.icon__programmer {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1122px;
    top: 40px;
}
.icon__programmer_phone {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.icon__programmer_programmist {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    color: #000000;
}
.icon__message {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 410px;
}
.icon__message_phone {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.icon__message_groza {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.icon__picture {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;
}
.icon__picture_phone {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.icon__picture_sms {
    position: absolute;
    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.section {
    position: absolute;
    width: 1160px;
    height: 2056px;
    left: 140px;
    top: 656px;
}
.section__photo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 1160px;
    height: 1984px;
    left: 140px;
    top: 728px;
    margin: 0 auto;
}
.section__photo_one {
    box-sizing: border-box;
    width: 1160px;
    height: 460px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.section__photo_two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 1160px;
    height: 400px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 auto;
}
.section__photo_two_one {
    box-sizing: border-box;
    width: 560px;
    height: 400px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    order: 0;
    flex-grow: 0;
}
.section__photo_two_two {
    box-sizing: border-box;
    width: 560px;
    height: 400px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    order: 1;
    flex-grow: 0;
}
.section__photo_three {
    box-sizing: border-box;
    width: 1160px;
    height: 544px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0 auto;
}
.section__photo_four {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 1160px;
    height: 460px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.section__photo_four_one {
    box-sizing: border-box;
    width: 560px;
    height: 460px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    order: 0;
    flex-grow: 0;
}
.section__photo_four_two {
    box-sizing: border-box;
    width: 560px;
    height: 460px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    order: 1;
    flex-grow: 0;
}
.designer {
    position: absolute;
    width: 997px;
    height: 560px;
    left: 227px;
    top: 2832px;
}
.designer__kubok {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 227px;
    top: 3280px;
}
.designer__kubok_phone {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.designer__kubok_sam {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.designer__one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 46px;
    height: 88px;
    left: 1034px;
    top: 3232px;
}
.designer__one_ten {
    width: 38px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.designer__one_let {
    width: 46px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.designer__two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 87px;
    height: 88px;
    left: 883px;
    top: 3232px; 
}
.designer__two_hundred {
    width: 63px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;  
}
.designer__two_srok {
    width: 87px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;   
}
.designer__three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 79px;
    height: 88px;
    left: 740px;
    top: 3232px;
}
.designer__three_forty {
    width: 41px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;   
}
.designer__three_site {
    width: 79px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;   
}
.designer__title {
    position: absolute;
    width: 478px;
    height: 64px;
    left: 740px;
    top: 2912px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em; 
    color: #181818;    
}
.designer__text {
    position: absolute;
    width: 484px;
    height: 168px;
    left: 740px;
    top: 3000px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.designer__photo {
    position: absolute;
    width: 400px;
    height: 560px;
    left: 300px;
    top: 2832px;
    border-radius: 24px;
}
.uslugi {
    position: relative;
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 3512px;
    background: #181818;
}
.uslugi__title {
    position: absolute;
    width: 156px;
    height: 64px;
    left: 642px;
    top: 3632px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.uslugi__block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    position: absolute;
    width: 1160px;
    height: 384px;
    left: 140px;
    top: 3776px;
}
.uslugi__block_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    width: 368px;
    height: 384px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.uslugi__block_one-fifteen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    width: 288px;
    height: 304px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;   
}
.uslugi__block_one-fifteen-twentyone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 288px;
    height: 168px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;    
}
.uslugi__block_one-fifteen-twentyone-fourteen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 288px;
    height: 56px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_one-fifteen-twentyone-fourteen-nole {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    opacity: 0.5;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_one-fifteen-twentyone-fourteen-site {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_one-fifteen-twentyone-fourteen-business {
    width: 288px;
    height: 96px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_one-fifteen-twentyone-fourteen-line {
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.uslugi__block_one-fifteen-twentyone-fourteen-ot {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;   
}
.uslugi__block_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    width: 368px;
    height: 384px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 1;   
}
.uslugi__block_two-seventeen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    width: 288px;
    height: 304px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 288px;
    height: 168px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty-fourteen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 288px;
    height: 56px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty-fourteen-dva {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    opacity: 0.5;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty-fourteen-web {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty-fourteen-if {
    width: 288px;
    height: 96px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty-fourteen-line {
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.uslugi__block_two-seventeen-twenty-fourteen-ot {
    width: 153px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 2;
    flex-grow: 0;   
}
.uslugi__block_three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    width: 368px;
    height: 384px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 2;
    flex-grow: 1;
}
.uslugi__block_three-eighteen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    width: 288px;
    height: 304px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 288px;
    height: 168px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo-fourteen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 288px;
    height: 56px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo-fourteen-tri {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    opacity: 0.5;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo-fourteen-art {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo-fourteen-otdel {
    width: 288px;
    height: 96px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo-fourteen-line {
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.uslugi__block_three-eighteen-twentytwo-fourteen-ot {
    width: 140px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 2;
    flex-grow: 0;   
}
.stoimost__icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    top: 4532px;        
}
.stoimost__icon_phone {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.stoimost__icon_image {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.stoimost__icon_two {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1206px;
    top: 4655px;
}
.stoimost__icon_two_phone {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.stoimost__icon_two_non {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    color: #000000;
}
.stoimost__title {
    position: absolute;
    width: 446px;
    height: 64px;
    left: 497px;
    top: 4400px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;  
    margin: 0 auto;
}
.stoimost__block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;
    position: absolute;
    width: 448px;
    height: 368px;
    left: 496px;
    top: 4544px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin: 0 auto;
}
.stoimost__block_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 400px;
    height: 192px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_one-seven {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 400px;
    height: 192px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_one-seven-input {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_one-seven-input-sixtwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    position: absolute;
    height: 48px;
    left: 0%;
    right: 0%;
    top: calc(50% - 48px/2);
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}
.stoimost__block_one-seven-input-sixsix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 368px;
    height: 24px;
    left: 16px;
    top: 12px;
    background: #FFFFFF;
}
.stoimost__block_one-seven-input-sixsix-text {
    width: 89px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_one-seven-input-sixsix-one {
    width: 12px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__block_one-seven-input-sixsix-one-down {
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 4px;
    left: 2px;
    top: 5px;
    border: 1px solid #000000;
}
.stoimost__block_one-seven-input-two {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__block_one-seven-input-two-sixtwo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    position: absolute;
    height: 48px;
    left: 0%;
    right: 0%;
    top: calc(50% - 48px/2);
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}
.stoimost__block_one-seven-input-two-sixsix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 368px;
    height: 24px;
    left: 16px;
    top: 12px;
    background: #FFFFFF;
}
.stoimost__block_one-seven-input-two-sixsix-text {
    width: 221px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_one-seven-input-two-sixsix-one {
    width: 12px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__block_one-seven-input-two-sixsix-one-down {
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 4px;
    left: 2px;
    top: 5px;
    border: 1px solid #000000;
}
.stoimost__block_one-seven-nintyone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 363px;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.stoimost__block_one-seven-nintyone-two {
    width: 16px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_one-seven-nintyone-two-box {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 4px;
}
.stoimost__block_one-seven-nintyone-two-check {
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #808080;
    border-radius: 4px;
}
.stoimost__block_one-seven-nintyone-two-text {
    width: 331px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__block_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 8px;
    width: 400px;
    height: 88px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__block_two-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    width: 400px;
    height: 56px;
    border: 2px solid #181818;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__block_two-two-text {
    width: 175px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__blocks {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;
    position: absolute;
    width: 400px;
    height: 384px;
    left: 520px;
    top: 4904px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}
.stoimost__blocks-title {
    width: 318px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__blocks-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 120px;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__blocks-three-st {
    width: 83px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__blocks-three-ot {
    width: 120px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;    
}
.stoimost__blocks-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 161px;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.stoimost__blocks-four-srok {
    width: 141px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stoimost__blocks-four-dn {
    width: 161px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.stoimost__blocks-six {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px 0px;
    gap: 8px;
    width: 352px;
    height: 72px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
.stoimost__blocks-six-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    width: 352px;
    height: 56px;
    background: #181818;
    border-radius: 8px;    
}
.stoimost__blocks-six-three-text {
    width: 135px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.vopros {
    position: absolute;
    width: 1440px;
    height: 1232px;
    left: 0px;
    top: 5408px;
    background: #181818;
}
.vopros__title {
    position: absolute;
    width: 316px;
    height: 64px;
    left: 562px;
    top: 5528px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.vopros__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 1160px;
    height: 848px;
    left: 140px;
    top: 5672px;
}
.vopros__block_one {
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.vopros__block_one-text {
    width: 239px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.vopros__block_one-four {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.vopros__block_one-four-vector {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: #000000;
    border-radius: 1px;
}
.vopros__block_two {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;
    height: 328px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.vopros__block_two-text {
    width: 800px;
    height: 216px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.vopros__block_two-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 917px;
    width: 1080px;
    height: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.vopros__block_two-two-text {
    width: 147px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.vopros__block_two-two-three {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.vopros__block_two-two-three-vector {
    position: absolute;
    width: 16px;
    height: 16px;
    left: -3.31px;
    top: 8px;
    background: #000000;
    border-radius: 1px;
    transform: rotate(-45deg);    
}
.vopros__block_three {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;    
}
.vopros__block_three-text {
    width: 133px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;  
    color: #181818; 
    flex: none;
    order: 0;
    flex-grow: 0;
}
.vopros__block_three-four {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.vopros__block_three-four-vector {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: #000000;
    border-radius: 1px;
}
.vopros__block_four {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;    
}
.vopros__block_four-text {
    width: 239px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.vopros__block_four-four {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;    
}
.vopros__block_four-four-vector {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px; 
    background: #000000;
    border-radius: 1px;    
}
.vopros__block_five {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;    
}
.vopros__block_five-text {
    width: 322px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.vopros__block_five-four {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.vopros__block_five-four-vector {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: #000000;
    border-radius: 1px;    
}
.vopros__block_six {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;   
}
.vopros__block_six-text {
    width: 357px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.vopros__block_six-four {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;    
}
.vopros__block_six-four-vector {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: #000000;
    border-radius: 1px;    
}
.zayavka__image {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 111px;
    top: 6774px;
}
.zayavka__image_phone {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;    
}
.zayavka__image_groza {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;     
}
.zayavka__icon {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1252px;
    top: 7156px;    
}
.zayavka__icon_phone {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;    
}
.zayavka__icon_programmer {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px; 
    text-align: center;
    color: #000000;   
}
.zayavka__svg {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 7392px;        
}
.zayavka__svg_phone {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0px;
    top: 0px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.zayavka__svg_message {
    position: absolute;
    width: 56px;
    height: 24px;
    left: 42px;
    top: 58px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 24px;
    text-align: center;
    color: #000000;    
}
.zayavka__title {
    position: absolute;
    width: 371px;
    height: 64px;
    left: 534px;
    top: 6760px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;    
}
.zayavka__text {
    position: absolute;
    width: 391px;
    height: 24px;
    left: 524px;
    top: 6832px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;     
}
.zayavka__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    height: 104px;
    left: 68.33%;
    right: 30%;
    top: calc(50% - 104px/2 + 3164px);    
}
.zayavka__social_fb {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.zayavka__social_fb-fb {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;    
}
.zayavka__social_fb-fb-icon {
    position: absolute;
    left: 33.65%;
    right: 32.5%;
    top: 20%;
    bottom: 19.06%;    
}
.zayavka__social_fb-fb-icon-fb {
    position: absolute;
    left: 33.65%;
    right: 32.5%;
    top: 20%;
    bottom: 19.06%;
    background: #000000;
}
.zayavka__social_fb-fb-icon-vector {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F9F9F9;
}
.zayavka__social_tw {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.zayavka__social_tw-icon {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.zayavka__social_tw-icon-tw {
    position: absolute;
    left: 21.16%;
    right: 18.84%;
    top: 24.97%;
    bottom: 24.51%;
    background: #000000;
}
.zayavka__social_tw-icon-vector {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F9F9F9;
}
.zayavka__social_vk {
    width: 24px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.zayavka__social_vk-vk {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 29.17%;
    bottom: 29.17%;
    background: #000000;
}
.zayavka__social_vk-vector {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F9F9F9;
}
.zayavka__block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;
    position: absolute;
    width: 448px;
    height: 552px;
    left: 496px;
    top: 6936px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.zayavka__block_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 400px;
    height: 376px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zayavka__block_one_seven {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 400px;
    height: 376px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zayavka__block_one_seven-imput {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zayavka__block_one_seven-imput-six {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 33px;
    height: 24px;
    left: 16px;
    top: 12px;
    background: #FFFFFF;
}
.zayavka__block_one_seven-imput-six-text {
    width: 33px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zayavka__block_one_seven-imput-two {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    position: absolute;
    height: 48px;
    left: 0%;
    right: 0%;
    top: calc(50% - 48px/2);
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}
.zayavka__block_one_seven-imputtwo {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.zayavka__block_one_seven-imputtwo-six {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 47px;
    height: 24px;
    left: 16px;
    top: 12px;
    background: #FFFFFF;
}
.zayavka__block_one_seven-imputtwo-six-text {
    width: 47px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zayavka__block_one_seven-imputtwo-two {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    position: absolute;
    height: 48px;
    left: 0%;
    right: 0%;
    top: calc(50% - 48px/2);
    border: 1px solid #DBDBDB;
    border-radius: 8px;    
}
.zayavka__block_one_seven-imputthree {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.zayavka__block_one_seven-imputthree-six {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px; 
    position: absolute;
    width: 368px;
    height: 24px;
    left: 16px;
    top: 12px;  
    background: #FFFFFF;    
}
.zayavka__block_one_seven-imputthree-six-text {
    width: 53px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.zayavka__block_one_seven-imputthree-six-icon {
    width: 12px;
    height: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.zayavka__block_one_seven-imputthree-six-icon-down {
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 4px;
    left: 2px;
    top: 5px;
    border: 1px solid #000000;    
}
.zayavka__block_one_seven-imputthree-two {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px; 
    position: absolute;
    height: 48px;
    left: 0%;
    right: 0%;
    top: calc(50% - 48px/2);
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}
.zayavka__block_one_seven-imputfour {
    width: 400px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;    
}
.zayavka__block_one_seven-imputfour-six {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 107px;
    height: 24px;
    left: 16px;
    top: 12px;
    background: #FFFFFF;
}
.zayavka__block_one_seven-imputfour-six-text {
    width: 107px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.zayavka__block_one_seven-imputfour-two {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    position: absolute;
    height: 160px;
    left: 0%;
    right: 0%;
    top: calc(50% - 160px/2);
    border: 1px solid #DBDBDB;
    border-radius: 8px;    
}
.zayavka__block_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 8px;
    width: 400px;
    height: 88px;
    flex: none;
    order: 1;
    flex-grow: 0;    
}
.zayavka__block_two-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    width: 400px;
    height: 56px; 
    background: #181818;
    border-radius: 8px; 
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.zayavka__block_two-two-text {
    width: 178px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;    
}